@model Wedding

<header class="header-margin wedDetails-head">
    <div class="wrapper flex">
        <div class="title">
            <h1 class="dash-title">@Model.WedderOne & @Model.WedderTwo's Wedding</h1>
        </div>
        <div class="link">
            <ul>
                <li>
                    <a asp-action="Dashboard" asp-controller="Home">Dashboard</a>
                </li>
                <li>
                    <a asp-action="Logout" asp-controller="Home">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="wrapper wedDetails flex-split">
    <div class="col">

        <div class="wedding-info">
            <p class="bold-title">Address:</p>
            <p>@Model.Address</p>

            <p class="bold-title">Date:</p>
            <p>@Model.Date.ToString("MM/dd/yyyy")</p>
        </div>

        <p class="bold-title guests">Guests:</p>
        <ul>
        @foreach(RSVP RSVP in @Model.RSVPs)
        {
            <li>- @RSVP.Guest.FirstName @RSVP.Guest.LastName</li>
        }
        </ul>

    </div>
    <div class="col">
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15728.250678206898!2d-117.88515725612186!3d33.81652432857955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x302b11a0babe25fd!2sRiverbed%20Farm!5e0!3m2!1sen!2sus!4v1582255115167!5m2!1sen!2sus" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>

</div>